<script type="text/ng-template" id="loading.html">
    <widget-row>
        <widget-cell>
            <div class="pDetails">
                Loading..
            </div>
        </widget-cell>
    </widget-row>
</script>

<script type="text/ng-template" id="main.html">
    <!-- GAME -->
    <div class="collapseMe">
        <widget-row>
            <widget-cell>
                <div id="riddle" ng-bind="getRiddle()">
                </div>
                <form class="form-inline" ng-submit="insertData()">
                    <div class="input-group" style="width: 100%;">
                        <input type="text" class="form-control" ng-model="riddle" placeholder="user input" />
                        <span class="input-group-btn" style="overflow:hidden;">
                                <button class="btn btn-primary glyphicon glyphicon glyphicon-ok btn" type="submit" style="margin-top: -1px;"></button>
                            </span>
                    </div>
                </form>
            </widget-cell>
        </widget-row>
    </div>
    
    <!-- Menu template -->
    <script type="text/ng-template" id="widgetMenu.html">
        <li>
            <a ng-click="menuButtonClick()">
            Logout
        </a>
        </li>
    </script>
</script>