<script type="text/ng-template" id="loading.html">
    <widget-row>
        <widget-cell>
            <div class="pDetails">
                Loading..
            </div>
        </widget-cell>
    </widget-row>
</script>

<script type="text/ng-template" id="main.html">
    <!-- Scoreboard -->
    <div>
        <widget-row>
            <widget-cell fill clickable ng-click="isCollapsed1 = !isCollapsed1">
                <h2> <widget-icon name="trophy"> </widget-icon> Scoreboard </h2>
            </widget-cell>
        </widget-row>
        <widget-row>
            <widget-cell collapse="isCollapsed1">
                <widget-row>
                    <widget-cell>
                        <div class="">
                            <h4> Faculty: </h4> </div>
                    </widget-cell>
                    <widget-cell>
                        <div class="">
                            <h4> Score: </h4> </div>
                    </widget-cell>
                </widget-row>
                <widget-row>
                    <widget-cell> {{firstPlace}} </widget-cell>
                    <widget-cell> {{score1}} </widget-cell>
                </widget-row>
                <widget-row>
                    <widget-cell> {{secondPlace}} </widget-cell>
                    <widget-cell> {{score2}} </widget-cell>
                </widget-row>
                <widget-row>
                    <widget-cell> {{thirdPlace}} </widget-cell>
                    <widget-cell> {{score3}} </widget-cell>
                </widget-row>
                <widget-row>
                    <widget-cell> {{fourthPlace}} </widget-cell>
                    <widget-cell> {{score4}} </widget-cell>
                </widget-row>
                <widget-row>
                    <widget-cell> {{fifthPlace}} </widget-cell>
                    <widget-cell> {{score5}} </widget-cell>
                </widget-row>
                <widget-row>
                    <widget-cell> {{sixthPlace}} </widget-cell>
                    <widget-cell> {{score6}} </widget-cell>
                </widget-row>
                <hr/>
                <widget-row>
                    <widget-cell>
                        <h4> Your Score: </h4> </widget-cell>
                </widget-row>
                <hr/>
                <widget-row>
                    <widget-cell>
                        <h4> Highscores: </h4> </widget-cell>
                </widget-row>
                <widget-row>
                    <widget-cell> {{topUser1}} </widget-cell>
                    <widget-cell> {{topScore1}} </widget-cell>
                </widget-row>
                <widget-row>
                    <widget-cell> {{topUser2}} </widget-cell>
                    <widget-cell> {{topScore2}} </widget-cell>
                </widget-row>
                <widget-row>
                    <widget-cell> {{topUser3}} </widget-cell>
                    <widget-cell> {{topScore3}} </widget-cell>
                </widget-row>
            </widget-cell>
        </widget-row>
    </div>

    <!-- Play The Game -->
    <div>
        <widget-row>
            <widget-cell fill clickable ng-click="isCollapsed2 = !isCollapsed2">
                <h2> <widget-icon name="star"> </widget-icon> Answer Riddle </h2>
            </widget-cell>
        </widget-row>
        <widget-row>
            <widget-cell collapse="isCollapsed2">
                <div ng-if="chosenRiddle.question">
                    <div class="pDetails">{{chosenRiddle.question}}</div>
                    <widget-row>
                        <widget-cell>
                            <input type="text" class="form-control" placeholder="Answer!" ng-model="userAnswer" />
                        </widget-cell>
                        <widget-cell>
                            <button class="btn btn-primary glyphicon glyphicon glyphicon-ok btn" type="submit" ng-click="processUserAnswer(userAnswer)"></button>
                        </widget-cell>
                    </widget-row>
                    <div class="pDetails">{{reply1}}</div>
                </div>
                <div ng-if="!chosenRiddle.question" class="pDetails">
                    Sorry, no more riddles for you! Try again later, or submit some more riddles!
                </div>
            </widget-cell>
        </widget-row>
    </div>

    <!-- Submit Riddles -->
    <div>
        <widget-row>
            <widget-cell fill clickable ng-click="isCollapsed3 = !isCollapsed3">
                <h2> <widget-icon name="lightbulb"> </widget-icon> Submit Riddle </h2>
            </widget-cell>
        </widget-row>
        <widget-row collapse="isCollapsed3">
            <div class="input-group" style="width: 100%;">
                <input type="text" class="form-control" placeholder="Enter a riddle" ng-model="userRiddleQuestion" />
                <input type="text" class="form-control" placeholder="Enter its answer" ng-model="userRiddleAnswer" />
                <widget-cell>
                    <button class="btn btn-primary glyphicon glyphicon glyphicon-ok btn" type="submit" style="margin-top: -1px;"
                    ng-click="retrieveUserRiddle(userRiddleQuestion, userRiddleAnswer)"></button>
                </widget-cell>
            </div>
            <div class="pDetails">{{reply2}}</div>
        </widget-row>
    </div>

    <!-- About -->
    <div>
        <widget-row>
            <widget-cell fill clickable ng-click="isCollapsed4 = !isCollapsed4">
                <h2> <widget-icon name="info"> </widget-icon> Help </h2>
            </widget-cell>
        </widget-row>
        <widget-row collapse="isCollapsed4">
            <div class="pDetails"> This is a fun widget. For every riddle you solve, your high-score goes up, and you help your
                faculty get closer to the top of the leader-board. You can also submit your own riddles.
            </div>
        </widget-row>
    </div>

    <button class="btn btn-primary glyphicon glyphicon glyphicon-ok btn" type="submit" ng-click="callSeed()"></button>
</script>

<!-- Menu template -->
<script type="text/ng-template" id="widgetMenu.html">
    <li>
        <a ng-click="menuButtonClick()">
            Logout
        </a>
    </li>
</script>