<script type="text/ng-template" id="loading.html">
    <widget-row>
        <widget-cell>
            <div class="pDetails">
                Loading..
            </div>
        </widget-cell>
    </widget-row>
</script>

<script type="text/ng-template" id="main.html">
    <h2> Answer Riddle </h2>
    <div class="pDetails">{{chosenRiddle.question}}</div>
    <div class="input-group" style="width: 100%;">
            <input type="text" class="form-control" placeholder="Answer!" ng-model="userAnswer"/>
    		<button class="btn btn-primary glyphicon glyphicon glyphicon-ok btn" type="submit" style="margin-top: -1px;" 
            	    ng-click="processUserAnswer(userAnswer)"></button> 
    </div>
    <div class="pDetails">{{reply}}</div>
    <h2> Submit Riddle </h2>
    <div class="input-group" style="width: 100%;">
            <input type="text" class="form-control" placeholder="Enter a riddle" ng-model="userRiddleQuestion"/>
        	<input type="text" class="form-control" placeholder="Enter its answer" ng-model="userRiddleAnswer"/>
    		<button class="btn btn-primary glyphicon glyphicon glyphicon-ok btn" type="submit" style="margin-top: -1px;" 
            	    ng-click="retrieveUserRiddle(userRiddle)"></button> 
    </div>
</script>